[run]
branch = true
source = midealocal
omit =
    library_test.py

[report]
exclude_lines =
    pragma: no cover
    @overload
    if TYPE_CHECKING
    raise NotImplementedError
    if __name__ == "__main__":
