name: Python build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  commitlint:
    name: Lint Commit Messages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: wagoid/commitlint-github-action@v6.1.2
        with:
          configFile: .commitlint.config.mjs
  build:
    needs:
      - commitlint
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.11", "3.12"]
        os: ["windows-latest", "ubuntu-latest", "macos-latest"]
    env:
      SKIP: no-commit-to-branch
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-all.txt
        shell: bash
      - name: Pre-commit
        uses: pre-commit/action@v3.0.1
      - name: Build midea-local
        run: |
          python -m build
      - name: Test with pytest
        run: |
          python -m pytest --rootdir . --cov=midealocal --cov-report html --cov-report xml --junitxml=reports/junit/junit.xml ./tests/
          mv htmlcov reports/coverage
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
